
*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    height: 1000px;
    padding-top: 20px;
    background-image: url(imagens/header.jpg);
    background-size: cover;
    min-width: 389px;
}
ul.nav{
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
}
ul.nav li.nav1{
    display: inline-block;
}
ul.nav li.nav1 a{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 15px;

}
a.nav2{
    text-decoration: none;
    color: lightsalmon;
    font-size: 1.1em;
    text-transform: uppercase;
}
a.nav2:hover{
    color: white;
}
header>article#paginainicial{
    position: relative;
}
a#pedido{
    text-decoration: none;
    background-color: lightsalmon;
    color: white;
    text-transform: uppercase;
}
a#pedido:hover{
    background-color: white;
    color: lightsalmon;
}
article#paginainicial{
    display: inline-block;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 52%;
}
h1#titulo01{
    color: lightsalmon;
    font-size: 6vw;
    padding-top: 50px;
    text-transform: uppercase;
}
p#paragrafo01{
    color: lightsalmon;
    font-size: 3vw;
    text-transform: uppercase;
}
main,section{
min-width: 380px;
}
section#cardapio{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
section#cardapio > img{
    flex: 1 1 60px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

img{
max-width: 100%;
display: block;
}
section#caixa02{
    position: relative;
    background-color: rgba(255, 196, 0, 0.842);
    height: 80vh;
    min-width: 300px;
}
div#bufe{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: white;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
}
h1#titulo03{
    font-size: 1.8em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: lightsalmon;
}
p#paragrafo03{
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 30px;
    color: lightsalmon;
}
div#bufe >a#buttom01{
    position: relative;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid lightsalmon;
}
a#buttom01{
    position: absolute;
    transform: translate(-50%,-4%);
    top: 80%;
    left: 50%;
    display: inline-block;
    color: lightsalmon;
}
a#buttom01:hover{
    background-color: lightsalmon;
    color: white;
}
section#caixa03{
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 90vh;
    position: relative;
   background-image: url(imagens/denys-nevozhai-guNIjIuUcgY-unsplash.jpg);
   max-width: 300;
}
section >div#sobre{
    background-color: white;
   min-width: 300px;
   height: 200px;
   padding: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

h1#titulo02{
    color: lightsalmon;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.7em;
    text-transform: uppercase;
}

p#paragrafo02{
    color: lightsalmon;
    text-align: center;
    text-align: justify;
}
section>a#buttom{
color: black;
position: relative;
}
a#buttom{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 85%;
    left: 50%;
    text-decoration: none;
    color: lightsalmon;
    background-color: white;
    border: 1px solid lightsalmon;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
a#buttom:hover{
    background-color: lightsalmon;
    color: white;
   
}
footer{
    background-color: lightsalmon;
    padding: 10px;
    min-width: 300px;
}
footer > section{
    background-color: rgb(247, 243, 237);
    max-width: 90vw;
    margin: auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
}
h1.h1footer{
    color: lightsalmon;
    margin-bottom: 3px;
    font-size: 1.5em;
}
footer >div#logosociais > a,img {
    display: inline-block;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 3px;
}
div#logosociais > a,img:hover{
  background-color: lightsalmon;
  border-radius: 19px;
}

div#caixafooter1{
    text-align: end;
    display: block;
    color:lightsalmon;
    font-size: 1em;
    padding: 3px;
}
div#caixafooter2{
    margin-top: 40px;
    padding: 3px;
    color:lightsalmon;
    text-align: left;
    font-size: 1em;
    display: contents;
}
div#caixafooter3{
    color: lightsalmon;
    text-align: center;
    display: block;
    padding: 10px;

}

